body{
    font-family: 'Roboto', sans-serif;
    margin: 0;  
}
section{
    height: 500px;
    margin-bottom: 200px;
    
}
h1{
    font-size: 70px;
}
p{
    padding-bottom: 2%;
}
.header-background{
    height: 600px;
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: 100%;  
}
.header-sec-div{ 
    backdrop-filter: blur(3px);
    text-align: center;
    color: white;
    padding-top: 5%;
}
.anchor-tab{
    background: rgb(241, 137, 51);
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 20px;   
}

.donate-today-sec{
    padding: 0;
    margin: 5%;
   
}

h2{
    font-size: 50px;
    font-weight: 700;
}
.Donate-Today{
    text-align: center;
    line-height: .5cm
}
.taka{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-left: 20%;
}
h3{
    width: 150px;
    height: 80px;
    background: lightyellow;
    padding-top: 5%;
    padding-left: 3%;
    margin-right: 2%;
    border-radius: 20px;
    font-size: 30px;
    color: gray;
    font-weight: 900;
}
.input-tk{
    border: 2px solid tomato;
    color: tomato;
}
.Donate-Today-last{
    text-align: center;
    margin-top: 30px;
}
.input-button{
    width: 50%;
    font-size: 20px;
    margin-bottom: 2%;
    border-top: 2px;
    border-left: 2px;
    border-right: 2px;
    border-color: darkgray;
    background: lightyellow;
    padding-bottom: 5px;
    color: rgb(153, 152, 152);
    font-weight: 600;
}

.donate-plan-sec{
    margin: 0px;
    padding: 10px;
}
.donate-plan{
    display: flex;
    justify-content: center;
}
.donate-plan-1{
    width: 20%;
    margin: 2%;
    padding: 2%;
    background: rgb(245, 245, 214);
    
}
.donate-plan-2{
    width: 20%;
    margin: 2%;
    padding: 2%;
    background: rgb(247, 231, 224);

}
.donate-plan-3{
    width: 20%;
    margin: 2%;
    padding: 2%;
    background: rgb(233, 237, 238);
}

footer{
    background-color: black;
    width: 100%;
    text-align: center;
    color: white;
    margin-top: 50px;
    margin-bottom: 0%;
    padding-top: 1%;
    font-size: 15px;
}
.footer-span{
    color: rgba(255, 20, 145, 0.733);
    font-size: 25px;
    font-family: cursive;
    
}